body {
  margin: 0;
  font-family: Arial, sans-serif;

  /* SAME IMAGE AS LOGIN */
  background: url("../assets/images/login-background.png") no-repeat center center/cover;
  min-height: 100vh;
  position: relative;
}

/* Dark overlay for readability */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* adjust darkness here */
  z-index: -1;
}


.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e1e2f;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 0;
  cursor: pointer;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  margin: 20px;
}


.topbar {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.income {
  background: #28a745;
}

.expense {
  background: #dc3545;
}

.balance {
  background: #007bff;
}

.chart-section {
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.transactions {
  margin-top: 40px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
