/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Gradient */
body {
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Background Logo */
.background-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.06;
    width: 700px;
    pointer-events: none;
}

/* Login Card */
.login-card {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 2.5rem;
    border-radius: 16px;
    width: 350px;
    color: #595959;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.login-card h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.login-card input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
}

.login-card button {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    background: #c4d857; /* matches your logo */
    color: #1b2a34;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-card button:hover {
    background: #b2c74d;
}

/* footer */
.app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 1rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left h3 {
    color: white;
}

.footer-center a {
    color: #f0f0f0;
    margin-right: 1rem;
}

.footer-right p {
    color: #f0f0f0;
}